{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">This is public limited company having its registered and corporate office at Manila City, Philippines. The company was incorporated in the year 2021 and production commenced in 2022. This is one of the fastest growing Coffee Manufacturing Company in Manila.</p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center"> To bring the best coffee product to our Costumers. Empowering the farmer community through unique 'Relationship Farming' Model
            To anticipate, understand and respond to our Costumer's needs by creating high-quality products and making them available through innovative and convinient channels.
        </p>
    </div>

</div>
<br><br>
{% endblock main-content %}